<div class="my-3">
    <h5 [ngClass]="{'strike':!todo.active}">
        {{todo.title}}
    </h5>
    <p [ngClass]="{'strike':!todo.active}">
        {{todo.desc}}
    </p>
    <div class="from-group  form-check">
        <input class="form-check-input" [checked]="
        !todo.active" type="checkbox" value="" id="{{todo.sno}}-{{todo.title}}-{{i}}" (click)="onCheckboxClick(todo)">
        <label class="form-check-label" for="{{todo.sno}}-{{todo.title}}-{{i}}">
       Done
        </label>
      </div>
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
</div>
