<div class="container my-3
">
<h3>About Us</h3>
<hr>
    <p>
        Welcome to Todo App, your number one source to write you todo. We're dedicated to giving you the very best of Notepad, with a focus on arranging Your future work in a list.
    </p>


    Founded in 2021 by NkTechnical, Todo App has come a long way from its beginnings in . When NkTechnical first started out, Todo App can offer you . We now serve customers all over the world, and are thrilled that we're able to turn our passion into my own website.
    
    
    I hope you enjoy my products as much as I enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact me.
    
    
    Sincerely,
    <br><br>
    NkTechnicals
</div>


